@import "carbon-components/scss/globals/scss/vars.scss";
@import "carbon-components/scss/globals/scss/mixins.scss";

.tacos--heading {
  margin: $layout-md 0 $layout-2xs;
  @include type-style("heading-02");
}

.tacos--subheading {
  margin: $layout-2xs 0;
  @include type-style("label-01");
}

.tacos--col-bleed {
  padding: 0;

  &:not(:last-child) {
    max-width: calc(100% - 1px);
    margin-right: 1px;
  }
}

.tacos--row-cta {
  margin-top: $layout-2xs;
}

.tacos--row-table {
  margin-bottom: $layout-md;
}

.tacos--col-cta {
  padding: 0;
  text-align: right;
}

.tacos--label {
  @include type-style("label-01");
}

.tacos--value {
  @include type-style("productive-heading-01");
}

.totals-row,
.button-row {
  margin-left: 0;
  margin-right: 0;
}

.justify-end {
  justify-content: end;
}

// Overides

.bx--data-table-v2-container {
  padding-top: 0;
}
